input {
  border: solid;
  outline: none;
  font-size: 1.5em;
  padding-left: 1vh;
}

.f-1half {
  font-size: 1.5em;
}
.f-1half { font-size: 1.5em; }
.f-one { font-size: 1em; }


.mg-20 { margin: 2vh; }
.mg-10 { margin: 1vh; }
.mg-half { margin: 0.5vh; }
.align-middle {
  background-color: #446611;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.font-lg {
  font-size: 3rem;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
